<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8", content="width=device-width">
    <title>Crime Weather Project</title>
    <link rel="icon" href="../static/applefavicon.ico">
    <!--  CSS Bootstrap  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css" type="text/css" media="screen">
    <script src="https://kit.fontawesome.com/f1e181a5ee.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
</head>

<body>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   
    <!-- NAVIGATION BAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary stationary">
        <a class="navbar-brand" style="margin-left: 10px;" href="https://crime-weather.herokuapp.com"><img style="height:30px;" src="/../static/pineapple-01.svg">Pineapple Apple Pen</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
      
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="https://crime-weather.herokuapp.com">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Interactive Plots
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="https://crime-weather.herokuapp.com/callsunburst">Sunburst</a>
                  <a class="dropdown-item" href="https://crime-weather.herokuapp.com/callsankey">Sankey (City, Crime, Time)</a>
                  <a class="dropdown-item" href="https://crime-weather.herokuapp.com/callheatmap">Heatmap</a>

              </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Analytic Plots
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://crime-weather.herokuapp.com/plot1">Linear - City</a>
                    <a class="dropdown-item" href="https://crime-weather.herokuapp.com/plot2">Linear - Weather</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    API Examples
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://crime-weather.herokuapp.com/api">Basic API Call</a>
                    <a class="dropdown-item" href="https://crime-weather.herokuapp.com/api/denver">API Call w/ City (Denver)</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://crime-weather.herokuapp.com/data">Our Data<span class="sr-only">(current)</span></a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#"></a>
            </li> -->
          </ul>
        </div>
    </nav>


    <div class="text-center hero">
      <h1 style="color: blanchedalmond;">Crime Weather Project</h1>
      <h2 style="color: blanchedalmond;">About Our Data</h2>

      <p></p>
    </div>
    <br>
    <div class="container">
      <div class="hero" style="height:100px;margin-top: 15px;">
        <h3 style="color: blanchedalmond;">Data Collection</h3>
      </div>
      <hr>
      <p>Crime data was selcted from 5 cities (Atlanta, Boston, Chicago, Denver, and Los Angeles) for years 2014 - 2018. 
        Weather and population data was selected to correspond to the crime data. Our crime data was taken from
        a variety of sources, including Kaggle and official crime records from local police departments.
        Our crime data sources are as follows:</p>
      <ul>
        <li>
          <a href="http://www.atlantapd.org/i-want-to/crime-data-downloads">Atlanta, GA</a>
        </li>
        <li>
          <a href="https://data.boston.gov/dataset/crime-incident-reports-august-2015-to-date-source-new-system">Boston, MA</a>
        </li>
        <li>
          <a href="https://www.kaggle.com/chicago/chicago-crime">Chicago, IL</a>
        </li>
        <li>
          <a href="https://www.kaggle.com/paultimothymooney/denver-crime-data/downloads/denver-crime-data.zip/39">Denver, CO</a>
        </li>
        <li>
          <a href="https://www.kaggle.com/cityofLA/los-angeles-crime-arrest-data">Los Angeles, CA</a>
        </li>
        
      </ul>
      <p>Weather data was <a href="https://darksky.net/poweredby/">powered by Dark Sky</a> API calls. Weather data 
      was collected for every hour within our date ranges for each of the 5 cities.</p>
      <br>
      <div  class="hero" style="height:100px;">
        <h3 style="color: blanchedalmond;">Munging</h3>
      </div>
      <hr>
      <p>Using Python, the yearly crime data was cleaned and combined. 
        The following fields: city, crime code, date, time, latitude, and longitude. 
        The combined data has over 900 crime codes. For analysis purposes, the crime codes were grouped 
        to 24 categories using the crime descriptions. The weather data was combined 
        using Python and the weather type was collapsed to 30 cataegories for the analysis.

        The cleaned crime and weather files were merged on city, date, and time (hour 0-23).
          
        The data was further summarized for use in interactive plots by removing the latitude and 
        longitude and collapsing the crimes to the following: 
        Auto-Theft, Other, Property, Theft, Violation, and Violence and the weather to 
        Clear, Mostly Cloudy, Overcast, Partly Cloudy, Rain, and Snow. 
        Also, the 2014 and 2015 years were excluded for Boston and Chicago since these were incomplete years. 
        The population was added and the file was converted to a sqlite database.</p>
      <br>
      <br><br>
    </div>
    <hr>
    <br>
    <div class="container">
      <div class="row">
          <div class="col-md-12 text-center">
              <h5>Visualizations</h5>
            </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2 text-center">
          <a href="https://crime-weather.herokuapp.com/callsunburst">
            <img style="height:200px;width:150px;" class="othervis" src="/../static/sunburst_demo.png">
            <p style="color: black;">Sunburst Chart</p>
          </a>
        </div>
        <div class="col-md-2 text-center">
          <a href="https://crime-weather.herokuapp.com/callsankey">
            <img style="height:200px;width:150px;" class="othervis" src="/../static/sankey_demo.png">
            <p style="color: black;">Sankey Chart</p>
          </a>
        </div>
        <div class="col-md-2 text-center">
            <a href="https://crime-weather.herokuapp.com/plot1">
              <img style="height:200px;width:150px;" class="othervis" src="/../static/plot1_demo.png">
              <p style="color: black;">Linear Plot - City</p>
            </a>
          </div>
          <div class="col-md-2 text-center">
            <a href="https://crime-weather.herokuapp.com/plot2">
              <img style="height:200px;width:150px;" class="othervis" src="/../static/plot2_demo.png">
              <p style="color: black;">Linear Plot - Weather</p>
            </a>
          </div>
          <div class="col-md-2 text-center">
              <a href="https://crime-weather.herokuapp.com/callheatmap">
                <img style="height:200px;width:150px;" class="othervis" src="/../static/heatmap_demo.png">
                <p style="color: black;">Crime Heatmap</p>
              </a>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
      <br><br><br>
        




</body>

</html>